.rectangle {
    width:100%;
    height:500px;
    border:2px;
    solid #000;
    background-color: rgba(10,10,200,.4)
}

h1 {
    color: white
}

.bgd-image {
    background: gainsboro url("/static/images/abstract_quality_desktop_background_picture-043.jpg") no-repeat center 30px;
    background-size: 100%;
}

.github-login {
    background: url("/static/images/github-login.png") no-repeat center top;
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    width: 198px;
    height: 47px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.google-login {
    background: url("/static/images/gmail-login.jpg") no-repeat center top;
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    width: 98px;
    height: 63px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.vk-login {
    background: url("/static/images/vk-login.jpg") no-repeat center top;
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    width: 198px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}


.inset {
    width: 300px;
    padding: 30px;
    background: rgba(255,255,255,.65);
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}
.inset .header {
    margin-bottom: 10px;
}