{% include "socialaccount/snippets/login_extra.html" %}

<!--Sign-in form, by default is shown-->
<div class="inset" id="signin">
    <div class="header">Sign</div>
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <input id="id_login" class="login-input" maxlength="30" name="login" placeholder="Username" type="text" />{{ form.login.errors }}<br>
        <input id="id_password"  class="login-input" name="password" placeholder="Password" type="password" />{{ form.password.errors }}<br>
        <div class="remember-forgot-section">
            <input id="id_remember" name="remember" type="checkbox" />
            <label for="id_remember">Remember Me</label>
            <a class="forgot" href="{% url 'account_reset_password' %}">"Forgot Password?"</a>
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button class="btn" type="submit">Sign In</button>
    </form>

    <div class="footnote">
        Don't have an account? Login with a social network account or <a href="#signup" id="toSignUp">Sign Up</a>
    </div>
</div>


<!--Sign-up form, by default is hidden-->
{% load url from future %}
{% load account %}
<div class="inset" id="signup">
    <div class="header" style="">Sign up</div>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.username }} {{ form.username.errors }}
        <br>
        {{ form.password1 }} {{ form.password1.errors }}
        <br>
        {{ form.password2 }} {{ form.password2.errors }}
        <br>
        <input id="id_email" name="email" type="email" placeholder="email@address.com"> {{ form.email.errors }}
        <br><br>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn" type="submit">Sign Up</button>
    </form>
    <div class="footnote">
        Already have an account? <a href="#signin" id="toSignIn">Sign in</a>
    </div>
</div>

<!--Hide/Show scripts using jQuery-->
<script>
$(document).ready(function(){

    // hide Sign-up
    $("#signup").hide();

    $("#toSignIn").click(function(){
        $("#signin").show("slow");
        $("#signup").hide("slow");
    });
    $("#toSignUp").click(function(){
        $("#signup").show("slow");
        $("#signin").hide("slow");
    });

});
</script>